.img {
  max-width: 100%;
  height: auto;
  display: block;
}

ul.grape {
  list-style: none;
  padding: 0;
  margin: 0;
}

.banana2 {
  /* max-width: 1200px; */
  margin-top: 90px !important;
  padding: 0 30px;
  display: flex;
  flex-wrap: wrap;

  /* gap: 40px; */
  justify-content: space-between;



  /* */
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
  /* padding: 0 30px; */
  /* display: flex; */
  /* flex-wrap: wrap; */
  gap: 60px;
  justify-content: space-between;


}

/* 
.banana2 {
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
  padding: 0 30px;
  display: flex;
  flex-wrap: wrap;
  gap: 60px;
  justify-content: space-between;
} */

/* .banana {
  max-width: 1200px;
  width: 100%;
  margin: 90px auto 0;
  padding: 0 30px;
  display: flex;
  flex-wrap: wrap;
  gap: 60px;
  justify-content: space-between;
} */


/* Text Column */
.kiwi {
  flex: 1 1 45%;
  min-width: 300px;
}

.pear {
  padding-left: 0;
}

.orange {
  margin-bottom: 45px;
}

.mango {
  font-size: 18px;
  color: #2d5b1a;
  font-weight: 500;
  margin-bottom: 15px;
  display: block;
}

.orange h2 {
  font-size: 40px;
  font-weight: 600;
  color: #222;
  position: relative;
  padding-bottom: 18px;
  line-height: 1.3;
}

.orange h2::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 50px;
  height: 3px;
  background: #d1d2d6;
}

.text {
  font-size: 16px;
  line-height: 26px;
  color: #848484;
  margin-top: 30px;
  margin-bottom: 30px;
}

.grape li {
  font-size: 16px;
  line-height: 26px;
  color: #222;
  position: relative;
  padding-left: 30px;
  margin-bottom: 12px;
}

.grape li::before {
  content: "\f058";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  position: absolute;
  left: 0;
  top: 0;
  color: #2d5b1a;
  font-size: 18px;
}

/* Button */
.pineapple {
  display: inline-block;
  padding: 12px 30px;
  background-color: #2d5b1a !important;
  color: #fff;
  font-weight: 600;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.pineapple:hover {
  background-color: #001e57;
}

/* Image Column */
.watermelon {
  flex: 1 1 45%;
  min-width: 300px;
  position: relative;
}

.plum {
  position: relative;
  padding-left: 0;
  padding-bottom: 0;
}

.cherry,
.blueberry {
  position: relative;
  margin-bottom: 30px;
  box-shadow: 0 30px 50px rgba(8, 13, 62, 0.15);
}