.charles {
  height: 100vh;
}

@keyframes animatedBackground {
  from { background-position: 0 0; }
  to { background-position: 100% 0; }
}

.juliet {
  max-width: 300px;
  margin: 10px auto;
  padding: 20px;
  background: #f4f7f8;
  border-radius: 8px;
}

.maria a {
  color: #333;
  font-weight: 500;
  text-decoration: none;
  font-size: 26px;
}

.ken {
  margin: 0 0 30px 0;
  text-align: center;
}

.innerr {
  height: 200px;
}

.fill {
  height: 50px;
}

.mike,
.flora {
  background: rgba(255, 255, 255, 0.1);
  border: none;
  font-size: 16px;
  margin: 0;
  outline: 0;
  padding: 15px;
  width: 100%;
  background-color: #e8eeef;
  color: #333;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03) inset;
  margin-bottom: 20px;
}

input[type="radio"],
input[type="checkbox"] {
  margin: 0 4px 8px 0;
}

.flora {
  padding: 6px;
  border-radius: 4px;
}

.blessing {
  padding: 15px;
  color: #fff;
  background-color: #5e4bc9;
  font-size: 18px;
  text-align: center;
  border-radius: 5px;
  width: 100%;
  border: 1px solid #483ac1;
  box-shadow: 0 -1px 0 rgba(255, 255, 255, 0.1) inset;
  margin-top: 10px;
  cursor: pointer;
}

.victor {
  margin-bottom: 20px;
  border: none;
}

.nina {
  display: block;
  margin-bottom: 8px;
}

.number {
  background-color: #5f99cf;
  color: #fff;
  height: 30px;
  width: 30px;
  display: inline-block;
  font-size: 0.8em;
  margin-right: 4px;
  line-height: 30px;
  text-align: center;
  border-radius: 50%;
}

@media screen and (min-width: 480px) {
  .juliet {
    max-width: 480px;
  }
}

.hello {
  min-height: 100vh;
  margin-top: 100px;
}
