.charles {
  height: 100vh !important;
}

@keyframes animatedBackground {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 100% 0;
  }
}

.juliet {
  max-width: 300px;
  margin: 10px auto;
  padding: 10px 20px;
  background: #f4f7f8;
  border-radius: 8px;
}

.maria a {
  color: #fff;
  font-weight: 400;
  text-decoration: none;
  font-size: 26px;
}

.ken {
  margin: 0 0 30px 0;
  text-align: center;
}
.innerr{
    height: 200px !important;
}
.fill{
    height: 50px !important;
}
.mike,
.flora {
  background: rgba(255, 255, 255, 0.1);
  border: none;
  font-size: 16px;
  height: auto;
  margin: 0;
  outline: 0;
  padding: 15px;
 
  width: 100%;
  background-color: #e8eeef;
  color: #8a97a0;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03) inset;
  margin-bottom: 30px;
}

input[type="radio"],
input[type="checkbox"] {
  margin: 0 4px 8px 0;
}

.flora {
  padding: 6px;
  height: 32px;
  border-radius: 2px;
}

.blessing {
  padding: 19px 39px 18px 39px;
  color: #FFF;
  background-color: #5e4bc9;
  font-size: 18px;
  text-align: center;
  font-style: normal;
  border-radius: 5px;
  width: 100%;
  border: 1px solid #483ac1;
  border-width: 1px 1px 3px;
  box-shadow: 0 -1px 0 rgba(255, 255, 255, 0.1) inset;
  margin-bottom: 10px;
  cursor: pointer;
}

.victor {
  margin-bottom: 30px;
  border: none;
}

.nina {
  display: block;
  margin-bottom: 8px;
}

.nina.light {
  font-weight: 300;
  display: inline;
}

.number {
  background-color: #5f99cf;
  color: #fff;
  height: 30px;
  width: 30px;
  display: inline-block;
  font-size: 0.8em;
  margin-right: 4px;
  line-height: 30px;
  text-align: center;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.2);
  border-radius: 100%;
}

.emma {
  margin-bottom: 16px;
}

@media screen and (min-width: 480px) {
  .juliet {
    max-width: 480px;
  }
}

.hello{
    height: 280vh !important;
    margin-top: 100px;
  
}