.hero {
  padding: 10rem 0 5rem;
  position: relative;
  color: #fff;
  height: 150vh !important;
  overflow: hidden;
  transition:all 0.3s linear;
}

.hero::before {
  content: "";
  position: absolute;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  animation: slideShow 15s infinite linear;
  z-index: -1;
  /* dark overlay */
/*   background-blend-mode: darken; */
}

/* Keyframes for slideshow */
@keyframes slideShow {
  0% {
    background-image: linear-gradient(rgba(0,0,0,0.5)), url("/img9.jpg");
  }
  10% {
    background-image: linear-gradient(rgba(0,0,0,0.5)), url("/img8.jpg");
  }
  20% {
    background-image: linear-gradient(rgba(0,0,0,0.5)), url("/img12.jpg");
  }
  30% {
    background-image: linear-gradient(rgba(0,0,0,0.5)), url("/img20.jpg");
  }
  40% {
    background-image: linear-gradient(rgba(0,0,0,0.5)), url("/logo1.jpg");
  }
 50% {
    background-image: linear-gradient(rgba(0,0,0,0.5)), url("/img9.jpg");
  }
  60% {
    background-image: linear-gradient(rgba(0,0,0,0.5)), url("/img21.jpg");
  }
  70% {
    background-image: linear-gradient(rgba(0,0,0,0.5)), url("/img35.jpg");
  }
  80% {
    background-image: linear-gradient(rgba(0,0,0,0.5)), url("/img34.jpg");
  }
  90% {
    background-image: linear-gradient(rgba(0,0,0,0.5)), url("/img21.jpg");
  }
    100% {
    background-image: linear-gradient(rgba(0,0,0,0.5)), url("/img3.jpg");
  }
}

.hero .container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3rem;
  align-items: center;
  position: relative;
  z-index: 1;
}

.hero-content h1 {
  font-size: 3.5rem;
  margin-bottom: 1.5rem;
}

.hero-content p {
  font-size: 1.25rem;
  margin-bottom: 2rem;
  opacity: 0.9;
}

.hero-buttons,
.social-links {
  display: flex;
  gap: 1rem;
}

.hero-image img {
  border-radius: var(--border-radius);
  box-shadow: var(--shadow-lg);
}

.hero-wave {
  position: absolute;
  bottom: 0;
  width: 100%;
  left: 0;
}

@media (max-width: 768px) {
  .hero {
    padding: 8rem 0 4rem;
  }

  .hero .container {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .hero-buttons {
    justify-content: center;
  }

  .hero-image {
    margin-top: 2rem;
    order: 2;
  }
}
 .hero-image img{
  height: 400px !important;
  width: 500px;
 }


@media (max-width: 576px) {
  .hero-content h1 {
    font-size: 2.25rem;
  }

  .hero-buttons {
    flex-direction: column;
    gap: 1rem;
  }
}
















