@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

:root {
  --br: 20px;
}



.body {
  min-height: 100vh;
  background: #f3f3f3;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  padding: 20px;
  font-family: "Montserrat", sans-serif;
}

.grape-container {
  text-align: center;
}

.banana-row {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin: 10px auto;
  margin-bottom: 12px;
  gap: 20px;
}

.mango-card {
  width: 240px;
  background: #fff;
  padding: 15px;
  border-radius: var(--br);
  transition: 0.5s;
}

.mango-card:hover {
  box-shadow: 0px 3px 10px 5px #e9e9e9;
}

.mango-card img {
  max-width: 100%;
  border-radius: 50%;
  aspect-ratio: 1 / 1;
  border: 4px solid var(--bc, #000);
}

.apple-title {
  margin: 20px 0;
}

.mango-card p{
    font-size: 13px !important;
}
.mango-card h2 {
  margin: 15px 0 5px;
  font-size: 17px !important;
}

.orange-role {
  font-size: 80%;
  color: #444;
  margin-bottom: 20px;
}

.mango-card a {
  background: var(--btn, #000);
  color: #fff;
  padding: 10px 15px;
  width: 100%;
  display: block;
  border-radius: var(--br);
  text-decoration: none;
  margin-top: 15px;
}

@media (max-width: 767px) {
  .banana-row {
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px;
  }

  .mango-card {
    flex: 0 0 calc(50% - 20px);
    max-width: calc(50% - 20px);
  }
}

@media (max-width: 420px) {
  .mango-card {
    flex: 0 0 calc(100% - 20px);
    max-width: calc(100% - 20px);
  }
}



